@import 'normalize.css';

@import './variables.pcss';
@import './responsive.pcss';
@import './global.pcss';
@import './typography.pcss';
@import './media.pcss';
@import './content.pcss';

@import './templates/index.pcss';

.page-content {
  p,
  .content-embed,
  .content-image,
  ul,
  ol {
    margin: 0 0 2em 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3em 0 2em 0;
  }
}
